{% extends "app/layout.html" %}

{% block body %}

    <h1>Welcome! {{ request.user.first_name }}</h1>
    <ul>
        <li>Username: {{ request.user.username }}</li>
        <li>Email: {{ request.user.email }}</li>
    </ul>

    <div>
        {% for product in products %}
            <div>
                <a href="{% url 'product' product.id %}">
                    {{ product.name }}
                </a>
                - <span>{{ product.description }}</span>
            </div>
            <div>
                Price: {{ product.price }}
            </div>
            <div>
                Quantity: {{ product.quantity_available }}
            </div>
            <div>
                Category: {{ product.category.name }}
            </div>
            <hr>
        {% endfor %}
        </div>

    <a href="{% url 'logout' %}">Log Out</a>

{% endblock %}