{% extends "app/layout.html" %}

{% block body %}

    <div class="max-w-6xl mx-auto">
        <a href="{% url 'logout' %}" class="mt-2">
            <button class="bg-purple-600 text-white p-2">Log out</button>
        </a>

        <div>
            <span><a href="{% url 'view_cart' %}">Your Cart</a></span>
            <span><a href="{% url 'view_order' %}">Your Orders</a></span>
        </div>

        <h1>Welcome! {{ request.user.username }}</h1>
        <!-- <ul>
            <li>Username: {{ request.user.username }}</li>
            <li>Email: {{ request.user.email }}</li>
        </ul> -->

        <div class="p-3 m-3">
            {% for product in products %}
                <div>
                    <a href="{% url 'product' product.id %}">
                        {{ product.name }}
                    </a>
                </div>
                <div>
                    Price: {{ product.price }}
                </div>
                <hr>
            {% endfor %}
        </div>
    </div>

{% endblock %}