{% extends "app/layout.html" %}

{% block body %}

    <h1>Your Shopping Cart</h1>
    
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    {% if cart.items.all %}
        <ul>
            {% for item in cart.items.all %}
                <li>
                    {{ item.product.name }} - Quantity: {{ item.quantity }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}

    <a href="{% url 'index' %}">Continue Shopping</a>

{% endblock %}
